@{
    Layout = "~/Views/Shared/Error.cshtml";
}
<div class="large-header">404</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <img src="~/Assets/jarjar404.png" style="width:250px; height:auto;" />
        </div>
        <div class="col-xs-6 text-center align" style="display: inline-block; vertical-align: middle; float: none; font-family: mando; font-size: 40px; color: white;">
            Wesa can't find your page!
        </div>

    </div>
</div>

