
@{
    ViewBag.Title = "Home";
}




<div class="row">
    <div class="col-xs-12 col-md-6">
        <a href="@Url.Action("Index", "Vehicle", null)">
            <div class="futuristic-container item-card-select">
                <span class="item-details">Vehicle</span>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-md-6">
        <a href="@Url.Action("Index", "Starship", null)">
            <div class="futuristic-container item-card-select">
                <span class="item-details">Starship</span>
            </div>
        </a>
    </div>
</div>


